#left-navigaton {
	display: none !important;
}

#right-navigation {
	display: none !important;
}

#p-search {
	display: none !important;
}

#mw-panel .portal {
	display: none !important;
}

body.ltr #footer #footer-places {
	display: none !important;
}
